body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f5f5f5;
  color: #333;
}

header {
  background-color: #000;
  color: #fff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

form {
  background-color: white;
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

form h2 {
  text-align: center;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  display: block;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #333;
}

hr {
  margin: 25px 0;
}

.perfil-icone {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    border-radius: 50%;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.perfil-icone:hover {
    background-color: #555;
}

/* Transição suave */
.menu-perfil-lateral {
    position: fixed;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    top: 0;
    right: -300px; /* começa escondido fora da tela */
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    z-index: 999;
    padding: 20px;
}

.menu-perfil-lateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-perfil-lateral li {
    margin: 20px 0;
}

.menu-perfil-lateral a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Quando ativo */
.menu-perfil-lateral.ativo {
    right: 0;
}

.menu-perfil-lateral #dados-usuario {
    margin-top: auto; /* empurra para baixo */
    padding: 10px;
    text-align: center;
    color: #000;
    border-top: 1px solid #ccc;
}

/* Empurrar a página */
body.menu-aberto {
    margin-right: 300px; /* mesma largura do menu */
    transition: margin 0.3s ease;
}